# JS
node_modules
yarn.lock
yarn-error.log
npm-debug.log

# Config files
babel.config.js
metro.config.js
.prettierrc
.eslintrc
.watchmanconfig
.flowconfig
.npmrc
.buckconfig

# Misc
.DS_Store
.DS_Store?
.github
._*
.Trashes
.idea
docs/internal